*{
    padding: 0px;
    margin: auto;
}
html,
body{
    height: 100%;
}
.body{
    background-image: url("../images/parking2.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.content{
    width: 40%;
    margin: auto;
    padding-top: 30px;
}

.head{
    background-color: rgb(0, 0, 0,0.8);
}
.head h1{
    color: white;
    text-align: center;
}
.time{
    width: 100%;
    display: block;
}
.row{
    width: 100%;
    display: flex;
    justify-content: center;
}
.start_time,
.end_time,
.total_time,
.total_mony{
    width: 50%;
    text-align: center;
}
.start_time{
    background-color: rgb(248, 245, 211);
}
.end_time{
    background-color:   rgb(245, 169, 194);
}
.total_time{
    background-color: rgb(233, 224, 132);
}
.total_mony{
    background-color: palevioletred;
}
.in_total_m,
.in_end,
.in_start{
    padding: 5px 0px;
}
.in_start {
    color: green;
}
.in_end{
    color: red;
}
.txt_end,
.txt_start{
    color: blue;
}
.in_total_m i{
    color: lightgreen;
}
#get_total_money,
#get_total_time{
    color: green;
}
/* botton */
.btn{
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 10px 0px;

}
.btn button{
    padding: 7px 50px;
    /* margin: 10px; */
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 3px;
}
#btn_start{
    background-color: green;
}
#btn_stop{
    background-color: red;
    display: none;
}
#btn_clear{
    background-color: rgb(223, 108, 8);
    display: none;
}


i{
    padding-right: 5px;
}


.footer{
    background-color: teal;
    text-align: center;
    padding: 10px;
}
.real_time{
    color: white;
}
.real_time i{
    color: rgb(135, 212, 238);
}